{% extends "base.html" %}
{% block title %} | Languages{% endblock %}

{% block main %}
<div id="main">
    <h1 class="green">Languages</h2>
    
    {% if object_list %}
        <ul>
        {% for language in object_list %}
            <li><a href="{{ language.get_absolute_url }}">{{ language.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no Languages to display.</p>
    {% endif %}
    
    <p>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous page</a>
    {% endif %}
    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next page</a>
    {% endif %}
    </p>
</div>    
{% endblock %}

