{% extends "base.html" %}

{% block title %} | Snippet | {{ object.title }}{% endblock %}


{% block main %}
<script type="text/javascript">
function open_del() {
    window.open("{% url app_bookmark_delete object.id %}")
}
function open_add() {
    window.open("{% url app_bookmark_add object.id %}")
}

</script>
<div id="main">
    <h1> Title: <span class="green">{{ object.title }}</span></h1>

    <ul>
    <li>Updated: {{ object.updated_date }}</li>
    <li>Language:  <a class="green" href="{{ object.language.get_absolute_url }}">{{ object.language }}</a></li>
    <li>Author: {{ object.author }}</li>
    <li class="links">Tags: 
        {% for tag in object.get_tags %}
           <a class="green" href="{% url app_snippet_archive_tag tag %}">{{ tag }}</a>
           {% if forloop.last %}{% else %}
               {% ifequal forloop.revcounter0 1 %}and {% else %}, {% endifequal %}
           {% endif %}
        {% endfor %}
    

   {% load snippets %}
   


   {% load markup %}
    
    {{ object.description_html|markdown }}    
    <div class="code">
    
   {{ object.highlighted_code|markdown }}
   
   </div>
   <h3 style="float:right;"><a href="/snippets/edit/{{ object.id }}/">Edit Snippet</a></h3><br />
 			<p class="post-footer align-right">
 			 {% if_rated user object %}
         {% get_rating user object as rating %}
         <a href="" class="comments"/> {{ rating.get_rating_display }}</a>
       {% else %}
            <a href="{% url app_snippet_rate object.id %}?rating=1" class="comments">useful</a> or 
            <a href="{% url app_snippet_rate object.id %}?rating=-1" class="comments">not useful</a> 
       {% endif_rated %}					
				
				{% if_bookmarked user object %}
				<input type="button" value="Delete bookmark" class="readmore" onclick="open_del()">
        {% else %}
				<input type="button" class="readmore" value="bookmark" onclick="open_add()" />
				{% endif_bookmarked %}
 			  <span class="date">{{ object.pub_date }}</span>	
			</p>
			
    
			
</div>
{% endblock %}

